#footer{
    font-size:xx-small;
    position: fixed; /* Fixed position to stick it to the bottom */
    left: 0;
    bottom: 0;
    width: 100%; /* Make it full width */
    background-color: #333; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    text-align: center; /* Center-align the content within the footer */
    // padding: 10px; /* Add padding for spacing */
    margin: 0%;
}